@media (max-width: 768px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  table {
    border: none;
    background-color: transparent;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba($color: #222236, $alpha: .4)
  }

  td {
    text-align: left;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
  }

  td:last-child {
    border-bottom: none;
    justify-content: center;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #bbb;
  }

  .header {
    min-height: 450px;
  }

  .contant__container {
    min-height: 450px;
  }

  .contacts__contant {
    flex-wrap: wrap;
    justify-content: center;
  }

  .programm {
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  .header__top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7px;
  }

  .menu__btn {
    display: inline-block;
  }

  .menu__list {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 150px 10px 0;
    transform: translateY(-100%);
    transition: all .5s;
    text-align: center;
    background-color: #4a4a4a;
  }

  .menu__list.active {
    transform: translateY(9%);
  }

  .menu__items {
    font-size: 18px;
  }

  .menu__items:not(:last-child) {
    margin-bottom: 50px;
  }

  .menu__btn.active span {
    transform: scale(0);
  }

  .menu__btn.active::before {
    transform: rotate(45deg);
    top: 7px;
  }

  .menu__btn.active::after {
    transform: rotate(-45deg);
    bottom: 6px;
  }

  .history__photo img {
    display: none;
  }

  .contacts__item {
    flex-wrap: wrap;
  }

  .programm,
  .history,
  .contacts,
  .footer {
    padding: 30px 0;
  }

  .history {
    position: inherit;
  }

  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .copiright__contacts {
    justify-content: center;
  }

  .copiright__text,
  .copiright__contacts {
    margin-bottom: 20px;
  }
}