$color-primary: #e1ee2a;
$color-blue: #262b2f;
$color-white: #FFFFFF;
$color-black: #0f0f0f;
$color-grey: #cecece;

%inter {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
%inter6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
