<footer class="footer">
  <div class="footer__container">
    <div class="copiright">
      <p class="copiright__text">© 2025 «Грим та Грім». Всі права захищині.</p>
      <ul class="copiright__contacts">
        <li class="copiright__email">
          <a class="copiright__link" href="mailto:booking@lotoplay">booking@lotoplay</a>
        </li>
        <li class="copiright__phone">
          <a class="copiright__link" href="tel:+380991234567">+380991234567</a>
        </li>
      </ul>
    </div>
    <ul class="social__list">
      <li class="social__items"><a class="social__link" href="#">Instagram</a></li>
      <li class="social__items"><a class="social__link" href="#">Youtube</a></li>
      <li class="social__items"><a class="social__link" href="#">Facebook</a></li>
    </ul>
  </div>
</footer>
<script src="js/main.min.js"></script>

</body>

</html>