<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Гурт «Грим та Грім»</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  <header class="header">
    <div class="header__top">
      <div class="header__container">
        <a class="logo" href="#">G & G</a>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__items"><a class="menu__link" href="#">Про гурт</a></li>
            <li class="menu__items"><a class="menu__link" href="#">Концерти</a></li>
            <li class="menu__items"><a class="menu__link" href="#">Галерея</a></li>
            <li class="menu__items"><a class="menu__link" href="#">Контакти</a></li>
          </ul>
        </nav>
        <button class="menu__btn">
          <span></span>
        </button>
      </div>
    </div>
    <div class="header__contant">
      <div class="contant__container">
        <h1 class="header__title">Гурт «Грим та Грім»</h1>
        <h3 class="header__title-3">Справжній український рок, який гуркоче в серці.</h3>
        <p class="header__text">
          «Грим та Грім» - це поєднання <span>потужних</span> гітарних рифів, чесних текстів і
          вибуховох енергії сцени. Ми граємо для тиї, хто цінує живий звук, свободу та силу музики.
        </p>
        <p class="header__text"><span>Наші концерти</span> - це завжди контакт з залом, драв і емоції. Приєднуйся до нас
          на найближчих виступах і відчуй цей саунд наживо!
        </p>
        <button class="header__order">заказати квиток</button>
      </div>
    </div>
  </header>